@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon.woff2");
  src: url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*=icon-]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\e900";
}

.icon-bag-cross:before {
  content: "\e901";
}

.icon-bag-check:before {
  content: "\e902";
}

.icon-bag:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e904";
}

.icon-star:before {
  content: "\e905";
}

.icon-polygon-down:before {
  content: "\e906";
}

.icon-polygon-right:before {
  content: "\e907";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.75);
  background-color: #1b2316;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 104.25rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 0.9375rem;
}
@media (min-width: 62rem) {
  .header__container {
    padding-block: 3.625rem;
  }
}
.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  font-size: 1.75rem;
  font-weight: 900;
}
.logo::before {
  content: "";
  width: 1.714em;
  height: 1.714em;
  background: url("/assets/images/logo.png") center/contain no-repeat;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem 4.3125rem;
  font-weight: 500;
}
.navigation__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    color: #ffffff;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.8125rem;
     -moz-column-gap: 3.8125rem;
          column-gap: 3.8125rem;
}
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-form__input {
  width: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.search-form__input:focus-visible {
  width: 21.875rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
}

.burger-button {
  display: none;
}/*# sourceMappingURL=styles.css.map */