.hero {
    // .hero__container

    &__container {
        display: grid;
        gap: toRem(20);
        min-height: toRem(833);
        grid-template-columns: 1fr 31.07%;
    }

    // .hero__text-block

    &__text-block {
        max-width: toRem(893);
    }

    // .hero__title

    &__title {
        text-transform: capitalize;
        font-size: toRem(118);
        font-weight: 600;
    }

    // .hero__text

    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(25);
        }
    }

    // .hero__actions

    &__actions {
        display: flex;
        align-items: center;
        column-gap: toRem(26);
    }

    // .hero__button

    &__button {
        display: flex;
        align-items: center;
        column-gap: toRem(16);
        text-transform: capitalize;
        @media (any-hover: hover) {
            &:hover {
                color: $textColor;
            }
        }
    }
    &__button-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: toRem(56);
        height: toRem(56);
        border-radius: 50%;
        @include border;
        &::before {
            transform: translateX(toRem(2));
        }
    }
    //hero__poducts-slider
    &__poducts-slider {
        grid-row: span 2;
        align-content: center;
        position: relative;

        .hero-swiper-button-prev,
        .hero-swiper-button-next {
            padding: toRem(3);
            border-radius: 50%;
            border: toRem(1) solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            inset-block-end: 33.35%;
            z-index: 10;
            transition:
                color 0.3s ease,
                border-color 0.3s ease;
            @media (any-hover: hover) {
                &:hover {
                    color: $textColor;
                    border-color: currentColor;
                    background-color: rgba($color: #26391a, $alpha: 0.5);
                }
            }
        }
        .hero-swiper-button-prev.swiper-button-disabled,
        .hero-swiper-button-next.swiper-button-disabled {
            visibility: hidden;
        }
        .hero-swiper-button-prev {
            inset-inline-start: toRem(27);
            &::before {
                transform: rotate(180deg);
            }
        }
        .hero-swiper-button-next {
            inset-inline-end: toRem(27);
        }
    }
    // .hero__swiper

    &__swiper {
        padding-block-start: toRem(162);
        padding-block-end: toRem(44);
        &.swiper {
        }

        & .swiper-wrapper {
        }
        & .swiper-slide {
        }
        & .swiper-slide.swiper-slide-active {
        }

        & .swiper-pagination {
            top: auto;
            bottom: toRem(93);
            .swiper-pagination-bullet {
                width: toRem(6);
                height: toRem(6);
                opacity: 1;
                background-color: $textColor-75;
            }
            .swiper-pagination-bullet-active {
                width: toRem(19);
                border-radius: toRem(15);
            }
        }
    }

    //hero__reviews
    &__reviews {
        max-width: toRem(409);
        align-content: end;
    }
}

.review {
    @include border(rgba(255, 255, 255, 0.2));
    @include blur-background;
    border-radius: toRem(45);
    padding-block-start: toRem(41);
    padding-block-end: toRem(43);
    padding-inline-start: toRem(38);
    padding-inline-end: toRem(18);
    // .review__author-info

    &__author-info {
    }

    // .review__text

    &__text {
        font-size: toRem(17);
        line-clamp: 3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.review-author-details {
    display: flex;
    column-gap: toRem(28);
    & > *:not(:last-child) {
        margin-bottom: toRem(22);
    }
    // .review-author-details__avatar

    &__avatar {
        border-radius: 50%;
        width: toRem(64);
        aspect-ratio: 1;
        overflow: hidden;
    }

    // .review-author-details__avatar-image

    &__avatar-image {
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
    }

    // .review-author-details__wrapper

    &__wrapper {
    }

    // .review-author-details__author-name

    &__author-name {
        text-transform: capitalize;
        font-size: toRem(22);
        color: $textColor;
    }

    // .review-author-details__rate

    &__rate {
        display: flex;
        column-gap: toRem(9);
        & .icon-star--colored {
            color: #fff84e;
        }
    }
}

.product-slide-small {
    max-width: toRem(512);
    aspect-ratio: 512 / 644;
    padding-inline: toRem(26);
    padding-block-end: toRem(82);
    display: flex;
    flex-direction: column;
    row-gap: toRem(27);
    position: relative;
    background: url("/assets/images/product-shape.svg") bottom/ 100% no-repeat;

    // .product-slide-small__image-block

    &__image-block {
        width: 100%;
        aspect-ratio: 1;
        margin-top: -30%;
        display: flex;
        justify-content: center;
    }

    // .product-slide-small__image

    &__image {
        max-width: 100%;
        object-fit: contain;
        object-position: center;
    }

    //product-slide-small__content-wrapper
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: toRem(27);
        padding-inline-start: toRem(49);
    }
    // .product-slide-small__category

    &__category {
        font-size: toRem(23);
        text-transform: capitalize;
    }

    // .product-slide-small__title

    &__title {
        font-size: toRem(38);
    }

    // .product-slide-small__title-link

    &__title-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        transition: color 0.3s ease;
    }
    &__catecory-link,
    &__title-link {
        text-decoration-line: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 0.02em;
        text-underline-offset: toRem(1);
        transition:
            color 0.3s ease,
            text-decoration-color 0.3s ease,
            text-underline-offset 0.3s ease;
    }

    @media (any-hover: hover) {
        &__title-link:hover,
        &__catecory-link:hover {
            color: $textColor;
            text-decoration-color: inherit;
            text-underline-offset: toRem(3);
        }
    }
}
