.hero {
    // .hero__container

    &__container {
        display: grid;
        gap: toRem(25) toRem(10);
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        @media (min-width: toRem(992)) {
            grid-template-columns: 1fr minmax(toRem(400), 31.07%);
            gap: toRem(20);
        }
    }

    // .hero__text-block

    &__text-block {
        max-width: toRem(893);
        padding-block-start: toRem(30);

        @media (min-width: toRem(992)) {
            padding-block-start: toRem(94);
        }
    }

    // .hero__title

    &__title {
        text-transform: capitalize;
        font-size: toRem(118);
        @include adaptiveValue("font-size", 118, 38);
        font-weight: 600;
    }

    // .hero__text

    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(25);
        }
    }

    // .hero__actions

    &__actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(26) toRem(15);
        & > * {
            flex-shrink: 0;
        }
    }

    // .hero__button

    &__button {
        display: flex;
        align-items: center;
        column-gap: toRem(16);
        text-transform: capitalize;
        position: relative;

        @media (any-hover: hover) {
            &:hover {
                color: $textColor;
            }
        }
        @media (max-width: toRem(991.92)) {
            & .hero__button-text {
                font-size: 0;
                position: absolute;
                inset-inline-start: 0;
                inset-block-end: 0;
            }
        }
    }
    &__button-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: toRem(56);
        height: toRem(56);
        border-radius: 50%;
        @include border;
        &::before {
            transform: translateX(toRem(2));
        }
    }
    //hero__poducts-slider
    &__poducts-slider {
        align-content: center;
        position: relative;
        @media (max-width: toRem(991.98)) {
            display: none;
        }
        @media (min-width: toRem(992)) {
            grid-row: span 2;
        }

        .hero-swiper-button-prev,
        .hero-swiper-button-next {
            @include swiper-button-style;
            position: absolute;
            inset-block-end: 33.35%;
        }

        .hero-swiper-button-prev {
            inset-inline-start: toRem(27);
        }
        .hero-swiper-button-next {
            inset-inline-end: toRem(27);
        }
    }
    // .hero__swiper

    &__swiper {
        width: 92.59vw;
        padding-block-start: toRem(124);
        @media (min-width: toRem(992)) {
            width: 100%;
            @include adaptiveValue("padding-block-start", 162, 30);
            @include adaptiveValue("padding-block-end", 44, 20);
        }

        &.swiper {
        }

        & .swiper-wrapper {
        }
        & .swiper-slide {
            display: flex;
            flex-direction: column;
            height: auto;
            & > * {
                flex-grow: 1;
            }
            @media (min-width: toRem(992)) {
                // aspect-ratio: 512 / 644;
            }
        }
        & .swiper-slide.swiper-slide-active {
        }

        & .swiper-pagination {
            top: auto;
            bottom: toRem(48);
            .swiper-pagination-bullet {
                @include swiper-pagination-bullet-style;
            }
        }
    }

    //hero__reviews
    &__reviews {
        max-width: 100%;

        @media (max-width: toRem(991.98)) {
            justify-self: center;
        }
        @media (min-width: toRem(992)) {
            max-width: toRem(409);
            align-content: end;
        }
    }
}

.review {
    @include border(rgba(255, 255, 255, 0.2));
    @include blur-background;
    border-radius: toRem(45);
    padding-block: toRem(20);
    padding-inline: toRem(20);

    @media (min-width: toRem(992)) {
        padding-block-start: toRem(41);
        padding-block-end: toRem(43);
        padding-inline-start: toRem(38);
        padding-inline-end: toRem(18);
    }
    // .review__author-info

    &__author-info {
    }

    // .review__text

    &__text {
        font-size: toRem(17);
        font-size: toRem(17);
        line-clamp: 3;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .review-author-details {
        display: flex;
        column-gap: toRem(10);
        & > *:not(:last-child) {
            margin-bottom: toRem(22);
        }
        @media (min-width: toRem(992)) {
            column-gap: toRem(28);
        }
        // .review-author-details__avatar

        &__avatar {
            border-radius: 50%;
            width: toRem(64);
            aspect-ratio: 1;
            overflow: hidden;
        }

        // .review-author-details__avatar-image

        &__avatar-image {
            width: 100%;
            min-height: 100%;
            aspect-ratio: 1;
            object-fit: contain;
            object-position: top;
        }

        // .review-author-details__wrapper

        &__wrapper {
        }

        // .review-author-details__author-name

        &__author-name {
            text-transform: capitalize;
            font-size: toRem(22);
            color: $textColor;
            &:not(:last-child) {
                margin-bottom: toRem(4);
            }
        }

        // .review-author-details__rate

        &__rate {
            display: flex;
            font-size: toRem(15);
            column-gap: toRem(9);
            & .icon-star--colored {
                color: #fff84e;
            }
        }
    }
}

.product-card {
    padding-inline: toRem(20);
    padding-block-end: toRem(20);
    display: flex;
    flex-direction: column;
    row-gap: toRem(10);
    border-radius: toRem(42);
    box-shadow: toRem(0) toRem(9) toRem(18.4) toRem(0) rgba(0, 0, 0, 0.25);
    @include glass-background;
    @media (min-width: toRem(992)) {
        padding-inline: toRem(26);
        padding-block-end: toRem(57);
        border-radius: toRem(77);
        row-gap: toRem(36);
    }

    // .product-card__image-block

    &__image-block {
        flex-grow: 0;
        width: 100%;
        aspect-ratio: 1;
        margin-top: -5%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @media (min-width: toRem(992)) {
            margin-top: -29.75%;
        }
    }

    // .product-card__image

    &__image {
        width: 100%;
        aspect-ratio: 359 / 359;
        object-position: bottom;
        object-fit: contain;
        @media (min-width: toRem(992)) {
            aspect-ratio: 459 / 459;
        }
    }

    // .product-card__content-wrapper

    &__content-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: toRem(20);
        padding-inline: toRem(10);
        @media (min-width: toRem(992)) {
            padding-inline: toRem(49);
        }
    }

    // .product-card__category

    &__category {
        @include adaptiveValue("font-size", 23, 16);
        text-transform: capitalize;
    }

    // .product-card__catecory-link

    &__catecory-link {
    }

    // .product-card__title

    &__title,
    &__price {
        flex-grow: 1;
        @include adaptiveValue("font-size", 38, 20);
    }

    // .product-card__title-link

    &__title-link {
    }
    &__catecory-link,
    &__title-link {
        text-decoration-line: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 0.02em;
        text-underline-offset: toRem(1);
        transition:
            color 0.3s ease,
            text-decoration-color 0.3s ease,
            text-underline-offset 0.3s ease;
    }

    @media (any-hover: hover) {
        &__title-link:hover,
        &__catecory-link:hover {
            color: $textColor;
            text-decoration-color: inherit;
            text-underline-offset: toRem(3);
        }
    }

    // .product-card__description

    &__description {
        @include adaptiveValue("font-size", 24, 18);
        flex-grow: 1;
        line-clamp: 2;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .product-card__actions

    &__actions {
        display: flex;
        align-items: center;
        gap: toRem(15);
        flex-wrap: wrap;
    }

    // .product-card__button

    &__button {
    }
}
.trendy-plants {
    // .trendy-plants__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: toRem(40);
        @media (min-width: toRem(992)) {
            padding-block-start: toRem(69);
            padding-block-end: toRem(100);
        }
    }

    // .trendy-plants__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (min-width: toRem(992)) {
                margin-bottom: toRem(109);
            }
        }
    }

    // .trendy-plants__collection

    &__collection {
        min-width: 100%;
        & > *:not(:last-child) {
            margin-bottom: toRem(50);
        }
        @media (min-width: toRem(768)) {
            & > *:nth-child(even) {
                flex-direction: row-reverse;
                .trendy-plant-card__image {
                    inset-inline-start: auto;
                    inset-inline-end: 0;
                }
            }
        }

        @media (min-width: toRem(992)) {
            & > *:not(:last-child) {
                margin-bottom: toRem(136);
            }
        }
    }
}
.section-title {
    @include adaptiveValue("font-size", 55, 34);
    font-weight: 600;
    text-transform: capitalize;
    padding-inline: toEm(34, 55);
    padding-block-end: toEm(21, 55);
    padding-block-start: toEm(11, 55);
    position: relative;
    text-align: center;
    color: $textColor;
    &::before,
    &::after {
        content: "";
        width: toEm(69, 55);
        height: toEm(69, 55);
        background: url("../assets/images/coner.svg") left bottom / 100% no-repeat;
        position: absolute;
    }
    &::before {
        inset-inline-start: 0;
        inset-block-end: 0;
    }
    &::after {
        inset-inline-end: 0;
        inset-block-start: 0;
        transform: rotate(180deg);
    }
}
.trendy-plant-card {
    @include glass-background;
    border-radius: toRem(77);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(10);
    @media (min-width: toRem(992)) {
        border-radius: toRem(151);
    }
    @media (min-width: toRem(768)) {
        flex-direction: row;
        align-items: stretch;
    }

    // .trendy-plant-card__image-block

    &__image-block {
        flex: 1 1 50%;
        max-width: 50%;
        min-width: 300px;
        position: relative;
        @media (max-width: toRem(767.98)) {
            aspect-ratio: 1 / 0.85;
            min-width: 100%;
            margin-top: -3%;
        }
    }

    // .trendy-plant-card__image

    &__image {
        max-width: 100%;
        height: 115%;
        object-position: center;
        object-fit: contain;
        position: absolute;
        aspect-ratio: 1;
        inset-block-end: 0;
        inset-inline-start: 0;
        transform: translateY(-5%);
        @media (max-width: toRem(767.98)) {
            max-height: 100%;
            inset-block-end: auto;
            inset-block-start: 0;
            inset-inline-start: 50%;
            transform: translatex(-50%);
        }
    }

    // .trendy-plant-card__content-wrapper

    &__content-wrapper {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: toRem(24);
        padding-inline-end: toRem(33);
        padding-inline-start: toRem(45);
        @include adaptiveValue("padding-block", 125, 30);
        color: $textColor;
        font-weight: 600;
        @media (max-width: toRem(767.98)) {
            padding-block-start: toRem(0);
            padding-inline: toRem(18);
        }
    }

    // .trendy-plant-card__title

    &__title {
        text-transform: capitalize;
        @include adaptiveValue("font-size", 38, 20);
    }

    // .trendy-plant-card__title-link

    &__title-link {
        text-decoration-line: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 0.02em;
        text-underline-offset: toRem(1);
        transition:
            color 0.3s ease,
            text-decoration-color 0.3s ease,
            text-underline-offset 0.3s ease;
    }

    @media (any-hover: hover) {
        &__title-link:hover,
        &__catecory-link:hover {
            color: $textColor;
            text-decoration-color: inherit;
            text-underline-offset: toRem(3);
        }
    }

    // .trendy-plant-card__description

    &__description {
        @include adaptiveValue("font-size", 20, 18);
    }
    //trendy-plant-card__price
    &__price {
        @include adaptiveValue("font-size", 38, 20);
    }
    // .trendy-plant-card__actions

    &__actions {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(20) toRem(32);
        @media (max-width: toRem(479.98)) {
            row-gap: toRem(15);
        }
    }

    // .trendy-plant-card__button

    &__button {
        color: currentColor;
        border-color: currentColor;
        @media (max-width: toRem(479.98)) {
            min-width: 100%;
        }
    }
}
.page__sections-wrapper {
    padding-block-start: toRem(108);
    background: url("../assets/images/hero-bg.jpg") top/cover no-repeat;
}
.top-selling {
    // .top-selling__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: toRem(40);
        @media (min-width: toRem(992)) {
            padding-block-start: toRem(143);
            padding-block-end: toRem(119);
        }
    }

    // .top-selling__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (min-width: toRem(992)) {
                margin-bottom: toRem(109);
            }
        }
    }

    // .top-selling__collection

    &__collection {
        width: 100%;
        display: grid;
        gap: toRem(42);
        grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
        @media (min-width: toRem(768)) {
            row-gap: toRem(60);
            rid-template-columns: repeat(auto-fill, minmax(toRem(350), 1fr));
        }
        @media (min-width: toRem(992)) {
            &:has(*:first-child) {
                padding-block-start: toRem(100);
                row-gap: toRem(162);
                grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
            }
        }
    }
}
.customer-review {
    // .customer-review__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: toRem(40);
        @media (min-width: toRem(992)) {
            padding-block-start: toRem(100);
            padding-block-end: toRem(145);
        }
    }

    // .customer-review__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (min-width: toRem(992)) {
                margin-bottom: toRem(182);
            }
        }
    }

    // .customer-review__reviews-wrapper

    &__reviews-wrapper {
        width: 100%;
        .review {
            // .review-author-details__author-name

            & .review-author-details__author-name {
                font-size: toRem(26);
            }

            // .review-author-details__rate

            & .review__text {
                line-clamp: 5;
                -webkit-line-clamp: 5;
            }
            @media (min-width: toRem(992)) {
                padding-block-start: toRem(54);
                padding-block-end: toRem(55);
                padding-inline-start: toRem(58);
                padding-inline-end: toRem(51);
                & .review-author-details__author-name {
                    font-size: toRem(38);
                }
                & .review-author-details__avatar {
                    width: toRem(88);
                }
                & .review-author-details {
                    column-gap: toRem(38);
                    & > *:not(:last-child) {
                        margin-bottom: toRem(61);
                    }
                }
                & .review-author-details__rate {
                    font-size: toRem(19);
                }
            }
        }
    }

    // .customer-review__slider

    &__slider {
        &.swiper {
        }
        & .swiper-wrapper {
        }
        & .swiper-slide {
            width: toRem(300);
            display: flex;
            height: auto;

            @media (min-width: toRem(478)) {
                width: toRem(450);
            }

            @media (min-width: toRem(992)) {
                width: toRem(512);
            }
        }
    }
}
.our-best {
    // .our-best__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: toRem(40);
        @media (min-width: toRem(992)) {
            padding-block-start: toRem(140);
            padding-block-end: toRem(170);
        }
    }

    // .our-best__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(40);
            @media (min-width: toRem(992)) {
                margin-bottom: toRem(118);
            }
        }
    }

    // .our-best__wrapper

    &__wrapper {
        width: 100%;
        color: $textColor-75;
        & .trendy-plant-card {
            @media (min-width: toRem(992)) {
                border-radius: toRem(92);
            }

            // .trendy-plant-card__image-block

            &__image-block {
            }

            // .trendy-plant-card__image

            &__image {
            }

            // .trendy-plant-card__content-wrapper

            &__content-wrapper {
                @include adaptiveValue("row-gap", 42, 20);
                @include adaptiveValue("padding-inline-end", 53, 20);
                padding-inline-start: toRem(29);
                @include adaptiveValue("padding-block", 135, 30);
            }

            // .trendy-plant-card__title

            &__title {
                color: $textColor-75;
            }

            // .trendy-plant-card__title-link

            &__title-link {
            }

            // .trendy-plant-card__description

            &__description {
                @include adaptiveValue("font-size", 20, 18);
                color: $textColor-75;
                & > p:not(:last-child) {
                    margin-bottom: toRem(42);
                    @include adaptiveValue("margin-bottom", 42, 20);
                }
            }

            // .trendy-plant-card__actions

            &__actions {
            }

            // .trendy-plant-card__button

            &__button {
                color: $textColor-75;
                font-size: toRem(28);
                min-width: toRem(213);
            }
        }
    }

    //our-best__slider-actions
    &__slider-actions {
        display: flex;
        align-items: center;
        @include adaptiveValue("column-gap", 43, 20);
        position: absolute;
        z-index: 5;
        inset-inline-start: 50%;
        inset-block-end: 0;
        transform: translateX(-50%);

        @media (min-width: toRem(992)) {
            inset-inline-start: auto;
            inset-inline-end: 5.68%;
            inset-block-end: 29.5%;
            transform: translateX(0);
        }
    }
    // .our-best__button-prev
    // .our-best__button-next

    &__button-prev,
    &__button-next {
        @include swiper-button-style;
        font-size: toRem(24);
    }

    //our-best__fraction
    &__fraction {
        font-size: toRem(15);
        font-weight: 700;
        letter-spacing: 0;
    }
    //.our-best__fraction-active
    & .our-best__fraction-active {
        font-size: toRem(20);
    }

    // .our-best__slider

    &__slider {
        padding-block: toRem(50);

        .swiper {
        }
        .swiper-wrapper {
        }
        .swiper-slide {
        }
        .swiper-pagination {
            display: none;
        }
        @media (min-width: toRem(992)) {
            padding-block-start: toRem(124);
            padding-block-end: toRem(133);
            .swiper-pagination {
                display: block;
                .swiper-pagination-bullet {
                    @include swiper-pagination-bullet-style;
                }
            }
        }
    }
}
