//Percent
@function toPercent($px, $from: 100) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}
//VW
@function toVW($px, $from: 100) {
	$result: math.div($px, $from) * 100vw;
	@return $result;
}
//REM
@function toRem($px, $current: 16) {
	$result: math.div($px, $current) + rem;
	@return $result;
}
//EM
@function toEm($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}
// Адаптивна властивість (clamp)
@mixin adaptiveValue($property, $startSize, $minSize, $keepSize: 0, $widthFrom: $containerWidth, $widthTo: $minWidth) {
	@if ($startSize==0) {
		$startSize: 0.000001;
	}
	@if ($minSize==0) {
		$minSize: 0.000001;
	}

	// Для calc();
	$addSize: math.div($startSize - $minSize, 16);

	@if ($widthFrom == $containerWidth and $maxWidthContainer == 0) {
		$widthFrom: $maxWidth;
	}

	// Брейк-поїнти в EM
	$widthFromMedia: toEm($widthFrom);
	$widthToMedia: toEm($widthTo);

	// Формула плаваючого значення
	// Источник: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
	$slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
	$yIntersection: -$widthTo * $slope + $minSize;
	@if ($yIntersection==0) {
		$yIntersection: 0.000001;
	}
	$flyValue: #{toRem($yIntersection)}" + " #{$slope * 100}vw;

	// Отримання значення властивості
	$propertyValue: #{"clamp(" toRem($minSize) "," $flyValue "," toRem($startSize) ")"};
	// Якщо негативні значення
	@if ($minSize > $startSize) {
		$propertyValue: #{"clamp(" toRem($startSize) "," $flyValue "," toRem($minSize) ")"};
	}

	// Встановлюємо значення за замовчуванням
	@if $keepSize != 1 and $keepSize != 3 {
		@media (min-width: $widthFromMedia) {
			#{$property}: toRem($startSize);
		}
	}
	// Адаптуємо розмір у проміжку між зазначеними ширинами в'юпорту
	@media (min-width: $widthToMedia) and (max-width: $widthFromMedia) {
		// Якщо підтримується clamp();
		@supports (#{$property}: $propertyValue) {
			#{$property}: $propertyValue;
		}
		// Якщо не підтримується clamp();
		@supports not (#{$property}: $propertyValue) {
			#{$property}: calc(
				#{toRem($minSize)} + #{$addSize} * (100vw - #{toRem($widthTo)}) /
					#{math.div($widthFrom, 16) - math.div($widthTo, 16)}
			);
		}
	}
	@if $keepSize != 1 and $keepSize != 2 {
		@media (max-width: $widthToMedia) {
			#{$property}: toRem($minSize);
		}
	}
}

// @mixin scroll-margin-top {
// 	scroll-margin-block-start: toRem(58);
// 	@media (min-width: toEm(992)) {
// 		scroll-margin-block-start: toRem(98);
// 	}
// }

@mixin border($color: $textColor-75, $width: toRem(2)) {
	border: $width solid $color;
}

@mixin blur-background {
	box-shadow: toRem(0) toRem(9) toRem(18.4) toRem(0) rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(toRem(25));
	background: rgba(255, 255, 255, 0.05);
}
@mixin glass-background {
	// border: toRem(2) solid rgba(255, 255, 255, 0.27);/
	backdrop-filter: blur(toRem(40));
	background: rgba(255, 255, 255, 0.05);
}

@mixin swiper-button-style {
	padding: toRem(3);
	border-radius: 50%;
	border: toRem(1) solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	transition:
		color 0.3s ease,
		border-color 0.3s ease;
	&.swiper-button-disabled {
		visibility: hidden;
	}
	&[class*="button-prev"]::before {
		transform: rotate(180deg);
	}

	@media (any-hover: hover) {
		&:hover {
			color: $textColor;
			border-color: currentColor;
			background-color: rgba($color: #26391a, $alpha: 0.5);
		}
	}
}
@mixin swiper-pagination-bullet-style($width: 6, $widthActive: 19, $color: $textColor-75) {
	width: toRem($width);
	height: toRem($width);
	opacity: 1;
	background-color: $color;
	transition: all 0.3s ease;
	&.swiper-pagination-bullet-active {
		width: toRem($widthActive);
		border-radius: toRem(15);
	}
}
