$maxWidth: 1728;
$minWidth: 320;
$containerWidth: 1648;
$containerPadding: 10;
$maxWidthContainer: $containerWidth + $containerPadding * 2;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$textColor: #ffffff;
$textColor-75: rgba(#ffffff, 0.75);
