@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    @include adaptiveValue("font-size", 24, 20);
    line-height: 1.2;
    color: $textColor-75;
    background-color: #1b2316;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: toRem($maxWidthContainer); //1668
    padding-inline: toRem($containerPadding);
    margin: 0 auto;
}
.button {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: toRem(13);
    border: toRem(2) solid $textColor-75;
    @media (any-hover: hover) {
        &:hover {
            border-color: $textColor;
            color: $textColor;
            background-color: rgba($color: #26391a, $alpha: 0.5);
        }
    }
}
.button--text {
    min-width: toRem(180);
    padding-block: toRem(12) toRem(13);
    padding-inline: toRem(20);
}

.button--icon {
    font-size: 1.167em;
    padding-block: toRem(13);
    padding-inline: toRem(13);
}

@import "header";
@import "main";
@import "footer";
